<a href="https://colab.research.google.com/github/dsairreddy/ML/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:


from google.colab import drive

drive.mount('/content/drive')

import pandas as pd
pd.read_csv('/content/drive/MyDrive/Credit_Card_Applications.csv')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
0,15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Credit_Card_Applications.csv')

In [ ]:
dataset.describe()

,CustomerID,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,Class
count,6.900000e+02,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.00000,690.000000,690.000000,690.000000,690.000000,690.000000
mean,1.569047e+07,0.678261,31.568203,4.758725,1.766667,7.372464,4.692754,2.223406,0.523188,0.427536,2.40000,0.457971,1.928986,184.014493,1018.385507,0.444928
std,7.150647e+04,0.467482,11.853273,4.978163,0.430063,3.683265,1.992316,3.346513,0.499824,0.495080,4.86294,0.498592,0.298813,172.159274,5210.102598,0.497318
min,1.556571e+07,0.000000,13.750000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,1.563169e+07,0.000000,22.670000,1.000000,2.000000,4.000000,4.000000,0.165000,0.000000,0.000000,0.00000,0.000000,2.000000,80.000000,1.000000,0.000000
50%,1.569016e+07,1.000000,28.625000,2.750000,2.000000,8.000000,4.000000,1.000000,1.000000,0.000000,0.00000,0.000000,2.000000,160.000000,6.000000,0.000000
75%,1.575190e+07,1.000000,37.707500,7.207500,2.000000,10.000000,5.000000,2.625000,1.000000,1.000000,3.00000,1.000000,2.000000,272.000000,396.500000,1.000000
max,1.581544e+07,1.000000,80.250000,28.000000,3.000000,14.000000,9.000000,28.500000,1.000000,1.000000,67.00000,1.000000,3.000000,2000.000000,100001.000000,1.000000

In [ ]:
#to get info for dataset
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 690 entries, 0 to 689
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CustomerID  690 non-null    int64
 1   A1          690 non-null    int64
 2   A2          690 non-null    float64
 3   A3          690 non-null    float64
 4   A4          690 non-null    int64
 5   A5          690 non-null    int64
 6   A6          690 non-null    int64
 7   A7          690 non-null    float64
 8   A8          690 non-null    int64
 9   A9          690 non-null    int64
 10  A10         690 non-null    int64
 11  A11         690 non-null    int64
 12  A12         690 non-null    int64
 13  A13         690 non-null    int64
 14  A14         690 non-null    int64
 15  Class       690 non-null    int64
dtypes: float64(3), int64(13)
memory usage: 86.4 KB

In [ ]:
dataset.columns

NameError: name 'dataset' is not defined

In [ ]:
dataset.iloc[0]
#to read data from selected column  or row
#loc-iloc
#dframe.loc[0

CustomerID    1.577616e+07
A1            1.000000e+00
A2            2.208000e+01
A3            1.146000e+01
A4            2.000000e+00
A5            4.000000e+00
A6            4.000000e+00
A7            1.585000e+00
A8            0.000000e+00
A9            0.000000e+00
A10           0.000000e+00
A11           1.000000e+00
A12           2.000000e+00
A13           1.000000e+02
A14           1.213000e+03
Class         0.000000e+00
Name: 0, dtype: float64

In [ ]:
#panda 2 datatypes 1.series 2.dayaframes
#1.series - (12.2.3.4,,,) collection of series
#dataframes is collection of series

In [ ]:
dataset.loc[0,'A11']

1

In [ ]:
# prompt: dataset loc 0,1,5 , ,A11',a2a3

dataset.loc[[0,1,5],['A11','A2','A3']]

   A11     A2      A3
0    1  22.08  11.460
1    0  22.67   7.000
5    0  15.83   0.585

In [ ]:
# prompt: dataset.iloc 0,1,5 , (11,2,1)

from google.colab import drive
import pandas as pd

drive.mount('/content/drive')

dataset = pd.read_csv('/content/drive/MyDrive/Credit_Card_Applications.csv')

# Access specific rows and columns using iloc
print(dataset.iloc[[0, 1, 5], [11, 2, 1]])

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   A11     A2  A1
0    1  22.08   1
1    0  22.67   0
5    0  15.83   0

In [ ]:
dataset.loc[1,'A2']

22.67

In [ ]:
dataset.loc[1,'A2']=23

In [ ]:
dataset.loc[1,'A2']

23.0